.App {
  text-align: center;
}

.App-header {
  background-color: dodgerblue;
  height: 150px;
  padding: 20px;
  color: rgb(245, 244, 244);
}

ul,
li {
  padding: 0px;
  list-style-type: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.weather-card {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin: 10px;
  width: 150px;
  height: 115px;
  border: solid 2px beige;
}
